html,
body,
#root {
  height: 100%;
  width: 100%;
}

body {
  font-family: system-ui, sans-serif;
  min-height: 100vh;
  margin: 0;
  padding: 40px;
}

*,
*:after,
*:before {
  box-sizing: border-box;
}

img {
  width: 120px;
  height: 120px;
}
ul {
  list-style: none;
}
